.square {
  border-color: black;
  border-style: solid;
  height: 200px;
  width: 200px;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
}

.mole {
  background-image: url(http://lorempixel.com/100/100/people/);
  background-size: cover;
}
